

#App {
  background-color: rgb(97, 97, 118);
  padding-bottom: 1rem;
  font-family: 'Cambria';
  min-width: none;
}

#title {
  text-align: center;
  background-color: rgb(97, 97, 118);
  padding: 2rem;
  color: white;
  font-family: Castellar;
}

#Navbar {
  height: 2.5rem;
  padding-left: 1.5rem;
  width: 100%;
}

.Section-Header {
  padding-top: 2.25rem;
  font-weight: bold;
}

.body-dark {
  background-color: black;
  color: azure;
  padding-bottom: 2rem;
}

.body-light {
  background-color: rgb(255, 254, 254);
  color: black;
  padding-bottom: 1rem;
}

#toggle {
  position: fixed;
  bottom: 1rem;
  right: .5rem;
  display: block;
}

#button-img {
 max-height: 2.75rem;
}

p {
  font-size: 1.1rem;
}

li {
  font-size: 1.1rem;
}

